body {
    background-color:bisque;
}
#wrapper {
    width: 500px;
    margin:auto;
}
#information {
    border: 1px solid black;
    margin: 10px;   
}
#txtName, #txtEmail, #txtPhoneNumber {
    display: block;
    margin: 7px;
}
#btnRegister {
   margin: auto;
   align-items:center;
   display:flex;
   margin-bottom: 2px;
   padding: 5px;
}
#listUser {
    text-align:center;
}
.student {
    border: 1px solid #eaeff7;
    padding: 10px;
}
.hang1 span {
    color: blue;
    font-weight: bold;

}